In [3]:
import pandas as pd
dict = {
    'name':['ana','gl','jenny'],
    'sex':['male','female','dz'],
    'age':[12,33,44]
}
dfs = pd.DataFrame(dict)

In [4]:
dfs

   age   name     sex
0   12    ana    male
1   33     gl  female
2   44  jenny      dz

In [6]:
ts = pd.Series([4,5,6],index=['a','b','c'])
ts

a    4
b    5
c    6
dtype: int64

In [7]:
import numpy as np
pp = pd.DataFrame(np.arange(6).reshape(3,2),columns=['ana','gl'])
print(pp)

   ana  gl
0    0   1
1    2   3
2    4   5

In [9]:
print(pp.iloc[1])

ana    2
gl     3
Name: 1, dtype: int32

In [10]:
pp.index = ['x1','x2','x3']

In [11]:
pp

    ana  gl
x1    0   1
x2    2   3
x3    4   5

In [14]:
pp.loc['x2']

ana    2
gl     3
Name: x2, dtype: int32